:root {
    --timeline-bg-color: #303030;
    --timeline-fg-color: #5F5F5F;
    --timeline-highlight-color: #999999;
    --timeline-highlight2-color: #DDDDDD;
}

button:focus {
    outline: none;
}

/* Main App */

.fullScreen {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sequencerAppTopBar {
    box-sizing: border-box;
    display: flex;
    background-color: var(--timeline-bg-color);
    border-bottom: 2px solid var(--timeline-fg-color);
    width: 100%;
    height: 20%;
}

.sequencerAppMainPanel {
    width: 100%;
    height: 80%;
}

.sequencerAppMainPanelLeft {
    position: relative;
    float: left;
    width: 80%;
    height: 100%;
}

#applicationContainer {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.sequencerAppMainPanelRight {
    float: left;
    width: 20%;
    height: 100%;
}

/* Playback Panel */
.playbackPanel {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.panelButton {
    border: none;
    border-radius: 2px;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--timeline-highlight2-color);
}

/* Edit Panel*/
.editPanel {
    border-left: 2px solid var(--timeline-fg-color);
    display: flex;
    flex: 5;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.snapTypeGroup, .lengthTypeGroup {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.noteButton {
    font-size: 2em;
}

.noteButton > span {
    line-height: 50%;
}

.selectionButton.selected:enabled {
    outline: 2px solid blue;
}

/* Dropdown box */
.dropdown {
    /* Keeps the dropdown out of the way until it is clicked */
    position: absolute;
    left: 100vw;

    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;;

    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.1s ease, opacity 0.2s ease;
}

.dropdown.dropdownVisible {
    position: static;
    transform: translateY(0px);
    opacity: 1;
}

.dropdownItem {
    background: none!important;
    border: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.addTrackButton {
    border: none;
    border-radius: 2px;
    padding: none;
    margin-bottom: 2px;
    height: 30px;
    width: 30px;
    font-size: 1.25em;
    font-weight: bold;
    background-color: var(--timeline-highlight-color);
    color: var(--timeline-bg-color);
}

.addTrackOptionsDiv {
    background-color: var(--timeline-fg-color);
    border-radius: 5px;
}

.addTrackItem {
    color: white;
}

/* Box Select */
.boxSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: width 0.2s ease, height 0.2s ease;
}

.boxSelectButton {
    background-color: transparent;
    outline: none;
    border:none;

    padding: 2px 10px 2px 10px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.boxSelectButton:hover {
    background-color: white;
    filter: brightness(50%);
}

.trackListBoxSelect {
    background-color: var(--timeline-highlight-color);
}

/* Metadata Edit Box */

.metadataEditDiv {
    position: absolute;
    background-color: black;
    flex-flow: column;
}

.metadataEditInnerDiv {
    display: inline-flex;
    flex-shrink: 1;
    align-items: center;
}

.metadataEditInnerDiv > input {
    width: 30px;
}

.metadataEditDivider {
    border: 1px solid grey;
    display: block;
    width: auto;
    height: 0px;
    margin: 4px 0 4px 0;
}

/* Track Settings Box */

.trackSettingsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.trackSettingsDiv > * {
    margin-top: 20px;
}

.trackSettingsName {
    border: none;
    text-align: center;
    display: inline;
    color: white;
    background-color: var(--timeline-bg-color);
    padding: none;
}

.trackSettingsSlider {
    cursor: pointer;
}

.trackSettingsDeleteButton {
    margin-top: 0px;
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 2px;

    background-color: var(--timeline-highlight-color);
    color: var(--timeline-bg-color);
}

.trackSettingsIconInput {
    cursor: pointer;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--timeline-highlight-color);
    height: 35px;
    width: 35px;
    background-color: var(--timeline-bg-color);
    transition: transform 0.3s ease-in-out, filter 0.3s ease, border-color 0.3s ease;
}

.trackSettingsIconInput:hover {
    transform: translateY(-0.2em) scale(1.1, 1.1);
    border-color: var(--timeline-bg-color);
    filter: invert();
}

.trackSettingsIconInput > i {
    font-size: 1.2em;
    color: var(--timeline-highlight-color);
}

.trackSettingsCheckbox > label {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}