:root {
    --t-d: #222;
    --t-bg: #303030;
    --t-fg: #5F5F5F;
    --t-h: #999999;
    --t-h2: #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button {
    border: none;
    user-select: none;
    font-size: 13.3333px;
}

button:focus {
    outline: none;
}

button:hover:enabled {
    cursor: pointer;
}

input[type=number] {
    width: 50px;
}

input[type=checkbox] {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

/* Main App */

.fullScreen {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sequencerAppTopBar {
    box-sizing: border-box;
    display: flex;
    background-color: var(--t-bg);
    border-bottom: 2px solid var(--t-fg);
    width: 100%;
    min-height: 150px;
    height: 20%;
}

.sequencerAppMainPanel {
    display: flex;
    position: relative;
    width: 100%;
    height: 80%;
}

.sequencerAppMainPanelLeft {
    position: relative;
    flex: 1 1 auto;
    height: 100%;
}

#applicationContainer {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.buttonAnim {
    background-color: white;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.buttonAnim:hover:enabled {
    box-shadow: 0 0 0 2px var(--t-h);
}

.buttonAnim:active:enabled {
    background-color: var(--t-h);
}

.buttonAnim:disabled {
    background-color: var(--t-fg);
}

/* Playback Panel */
.playbackPanel {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.playbackButtons {
    display: flex;
    flex-direction: row;
}

.recentreButton {
    position: absolute;
    top: 75%;
    border-radius: 2px;
    padding: 3px 8px;
}

.panelButton {
    border: none;
    border-radius: 2px;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    
}

/* Edit Panel*/
.editPanel {
    border-left: 2px solid var(--t-fg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.snapTypeGroup, .lengthTypeGroup {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.noteButton {
    font-size: 2em;
}

.noteButton > span {
    line-height: 50%;
}

.selectionButton.selected:enabled {
    transition: box-shadow 0.1s ease;
    box-shadow: 0 0 0 2px blue;
}

/* Serialise Panel */
.serialisePanel {
    display: flex;
    align-items: center;
    border-left: 2px solid var(--t-fg);
    padding-left: 10px;
}

/* Effects Chain Panel */

.effectsChainPanel {
    flex: 0 1 auto;
    width: 400px;
    height: 100%;
    transform: none;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.effectsChainPanel.hidden {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
}

.effectsChainHideShowButton {
    top: 4px;
    transition: transform 0.5s ease-in-out, left 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 28px;
    background-color: transparent;
    border: none;
    position: absolute;
    
}

.effectsChainHideShowButton:hover {
    filter: brightness(1.2);
}

.effectsChainHideShowButton > i {
    color: var(--t-h2);
}

.effectsChainPanel.hidden > .effectsChainHideShowButton { 
    transform: translateX(-100%);
    left: 5px;
}

.effectsChainContent {
    border-left: 2px solid var(--t-fg);
    height: 100%;
    color: #FFF;
    background-color: var(--t-bg);
    overflow: hidden;
}

.effectsChainPanelTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 4px;
}

.effectsChainTitleButton {
    background-color: transparent;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    transition: border 0.15s ease;
    border: 2px solid var(--t-fg);
    padding: 5px 10px 4px 10px;
}

.effectsChainTitleButton:hover {
    border-color: var(--t-h2);
}

.effectsChainTitleButton:active {
    background-color: var(--t-fg);
}

.effectsChainButton {
    background-color: white;
    border-radius: 2px;
    color: var(--t-bg);
    transition: background-color 0.15s ease, box-shadow 0.15s ease;
}

.effectsChainButton.title {
    position: absolute;
    right: 0px;
    margin-right: 22px;
}

.effectsChainButton:disabled {
    background-color: var(--t-fg);
}

.effectsChainButton:hover:enabled {
    box-shadow: 0 0 0 2px var(--t-h);
}

.effectsChainButton:active:enabled {
    background-color: var(--t-h);
}

.effectsChainButton.delete {
    width: 25px;
    height: 25px;
}

.effectListTitleText {
    margin: 0 0 10px 10px;
    font-weight: bold;
}

.effectTitleText {
    margin: 0 0 0px 10px;
    font-weight: bold;
}

.effectsListDivider {
    border-top: 2px solid;
    border-color: var(--t-fg);
    margin-top: 10px;
    margin-bottom: 10px;
}

.effectsList {
    height: 100%;
    overflow-y: auto;
}

.effectsList > *:last-child {
    margin-bottom: 60px;
}

.effectsListDroppable {
    padding: 5px 0 0 0;
    margin-bottom: 5px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: transparent;
    transition: background-color 0.15s linear, border-color 0.15s ease;
}

.effectsListDroppable.dragging {
    border-color: var(--t-fg);
    background-color: #222;
}

.chainEffect {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

    border-radius: 10px;
    background-color: var(--t-bg);
    border: 2px solid white;
    transition: background-color 0.15s linear;
}

.chainEffect.dragging {
    border-color: #FFF;
    background-color: #3F3F3F;
}

.chainEffect > *:first-child {
    margin-top: 5px;
}

.chainEffect > *:last-child {
    margin-bottom: 8px;
}

.chainEffectTitle {
    display: flex;
    padding: 4px 10px 8px 5px;
    justify-content: space-between;
    align-items: center;
}

.effectProperty {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.effectProperty > *:first-child {
    margin-left: 20px;   
}

.effectProperty > *:last-child {
    margin-right: 20px;
}

.effectProperty > p {
    margin-top: 0;
    margin-bottom: 0;
}

.effectsChainButton.dropdownButton {
    width: 26px;
    height: 26px;
}

/* Dropdown box */
.dropdown {
    /* Keeps the dropdown out of the way until it is clicked */
    position: absolute;
    left: 100vw;

    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;;

    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.1s ease, opacity 0.2s ease;
}

.dropdown.dropdownVisible {
    position: static;
    transform: translateY(0px);
    opacity: 1;
}

.dropdownItem {
    background: none!important;
    border: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.addTrackButton {
    margin-bottom: 2px;
    border-radius: 2px;

    height: 30px;
    width: 30px;
    font-size: 1.25em;
    font-weight: bold;
    background-color: white;
    color: var(--t-bg);
}

.addTrackOptionsDiv {
    background-color: var(--t-h2);
    border-radius: 5px;
}

.addTrackItem {
    color: var(--t-bg);
}

/* Box Select */
.boxSelectOverlayContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    z-index: 100;
}

@keyframes boxSelectOverlayAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.boxSelectOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    animation: 0.2s ease-out 0s 1 boxSelectOverlayAnim;
}

.boxSelectOverlayArrow {
    width: 0px;
    height: 0px;
    animation: 0.2s ease-out 0s 1 boxSelectOverlayAnim;
}

.boxSelectOverlayArrow.top {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid white;
}

.boxSelectOverlayArrow.bottom {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid white;
}

.boxSelectOverlayArrow.left {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 8px solid white;
}

.boxSelectButton {
    align-self: center;
    outline: none;
    border:none;
    background-color: transparent;
    white-space: nowrap;
    width: 100%;
    padding: 2px 10px 2px 10px;
}

.boxSelectButton:hover:enabled {
    background-color: var(--t-h);
}

.mainBoxSelectButton {
    background-color: white;
    padding: 2px 8px;
    border-radius: 5px;
}

.mainBoxSelectButton:hover:enabled {
    background-color: var(--t-h2);
}

.mainBoxSelectButton:active:enabled {
    background-color: var(--t-fg);
}

.slider {
    cursor: pointer;
}

/* Envelope Overlay */
.envelopeOverlayContainer {
    position: absolute;
    flex-direction: row;
    display: flex;
    align-items: center;
    overflow: visible;
    z-index: 100;
}

.envelopeOverlayContent {
    width: 175px;
    padding: 10px 0;
}

.envelopeOverlayContent > div:not(:first-child):not(:last-child) {
    margin-top: 5px;
    margin-bottom: 5px;
}


.oscillatorEnvelopeContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
}

/* Metadata Edit Box */

.metadataDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
}

.metadataInnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--t-h2);
}

.metadataNumerator {
    width: 30px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 1px 0;
}

.metadataDenominator {
    width: 30px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
}

.metadataDivider {
    border: 1px solid #666;
    background-color: #666;
    width: auto;
    height: 0px;
    margin: 3px 0;
}

.metadataBPM {
    width: 30px;
    text-align: center;
}

.metadataSubmit {
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
}

.metadataProperty {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.metadataProperty > p {
    font-weight: bold;
    font-size: 13.3333px;
    margin-right: 5px;
}

/* Track Settings Box */

.trackSettingsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.trackSettingsName {
    border: none;
    text-align: center;
    display: inline;
    color: white;
    background-color: var(--t-bg);
    padding: none;
    margin-top: 20px;
    margin-bottom: 5px;
}

.trackSettingsSlider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trackSettingsDeleteButton {
    margin-top: 0px;
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 2px;

    background-color: white;
    color: var(--t-bg);
}

.trackSettingsIconInput {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--t-h);
    height: 35px;
    width: 35px;
    background-color: var(--t-bg);
    transition: transform 0.3s ease-in-out, filter 0.3s ease, border-color 0.3s ease;
    margin: 5px 0;
}

.trackSettingsIconInput:hover {
    transform: translateY(-0.2em) scale(1.1, 1.1);
    border-color: var(--t-bg);
    filter: invert();
}

.trackSettingsIconInput > i {
    font-size: 1.2em;
    color: var(--t-h);
}

.trackSettingsInteractable {
    display: flex;
    align-items: center;

    border-radius: 5px;
    padding: 1px 4px;
    margin: 5px 0;
}

.trackSettingsInteractable > p {
    margin: 0 8px 0 0;
    font-family: Arial;
    font-size: 13.3333px;
    color: white;
    user-select: none;
}

.trackSettingsInteractable > input[type=checkbox] {
    margin: 0;
}

.trackSettingsBoxSelect {
    margin: 5px 0;
}