:root {
    --timeline-bg-color: #303030;
    --timeline-fg-color: #5F5F5F;
}

/* Metadata Edit Box */

.metadataEditDiv {
    position: absolute;
    background-color: black;
    flex-flow: column;
}

.metadataEditInnerDiv {
    display: inline-flex;
    flex-shrink: 1;
    align-items: center;
}

.metadataEditInnerDiv > input {
    width: 30px;
}

.metadataEditDivider {
    border: 1px solid grey;
    display: block;
    width: auto;
    height: 0px;
    margin: 4px 0 4px 0;
}

/* Track Settings Box */

.trackSettingsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.trackSettingsDiv > * {
    margin-top: 20px;
}

.trackSettingsName {
    border: none;
    text-align: center;
    display: inline;
    color: white;
    background-color: var(--timeline-bg-color);
    padding: none;
}